<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{shared/adminlayout}"
>
  <body>
    <div layout:fragment="content">
      <!-- Thay lại bằng dashboard -->

      <main class="main">
        <!-- Top bar -->
        <div class="topbar">
          <div class="d-flex align-items-center gap-3">
            <div class="title text-uppercase">Thay lại bằng dashboard</div>
          </div>
          <div class="user">
            <i class="bi bi-bell"></i>
            <span>Admin</span>
            <div class="avatar">A</div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
