<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{shared/layout}"
>
  <body>
    <div layout:fragment="content">
      <main>
        <div class="wrapper">
          <div class="form-box register">
            <h2>Registration</h2>

            <!-- Form liên kết với Spring -->
            <form
              th:action="@{/auth/register}"
              th:object="${user}"
              method="post"
            >
              <!-- Email -->
              <div class="input-box">
                <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                <input type="email" th:field="*{email}" required />
                <label>Email</label>
              </div>

              <!-- Password -->
              <div class="input-box">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input type="password" th:field="*{password}" required />
                <label>Password</label>
              </div>

              <div class="remember-forgot">
                <label>
                  <input type="checkbox" required />I agree to the terms &
                  conditions
                </label>
              </div>

              <button type="submit" class="btn">Register</button>

              <div class="login-register">
                <p>
                  Already have an account?
                  <a th:href="@{/auth/login}" class="login-link">Login</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>

    <script type="text/javascript">
      const wrapper = document.querySelector(".wrapper");
      const loginlink = document.querySelector(".login-link");
      const registerlink = document.querySelector(".register-link");

      if (registerlink) {
        registerlink.addEventListener("click", () => {
          wrapper.classList.add("active");
        });
      }

      if (loginlink) {
        loginlink.addEventListener("click", () => {
          wrapper.classList.remove("active");
        });
      }
    </script>
  </body>
</html>
