<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{shared/layout}"
>
  <body>
    <div layout:fragment="content">
      <main class="main">
        <div class="topbar">
          <div class="d-flex align-items-center gap-3">
            <div class="title text-uppercase">New Booking</div>
          </div>
        </div>

        <div class="container-fluid py-4">
          <!-- Header -->
          <div class="d-flex justify-content-between mb-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><span>Bookings</span></li>
                <li class="breadcrumb-item active">New</li>
              </ol>
            </nav>
          </div>

          <!-- Form -->
          <div class="card">
            <div class="card-body">
              <form
                th:action="@{/booking/create}"
                th:object="${booking}"
                method="post"
              >
              <!-- Chọn phòng -->
                <div class="mb-3">
                    <label class="form-label">Room</label>
                    <select class="form-select" th:field="*{room}">
                        <option th:each="room : ${roomList}"
                                th:value="${room.roomId}"
                                th:text="${room.roomNumber + ' - ' + room.price}">
                        </option>
                    </select>
                </div>
                <div class="row g-3">
                  <div class="col-md-4">
                    <label class="form-label">Check-in Date</label>
                    <input
                      type="date"
                      class="form-control"
                      th:field="*{checkInDate}"
                      required
                    />
                  </div>

                  <div class="col-md-4">
                    <label class="form-label">Check-out Date</label>
                    <input
                      type="date"
                      class="form-control"
                      th:field="*{checkOutDate}"
                      required
                    />
                  </div>

                <div class="mb-3">
                    <label class="form-label">Number of guests</label>
                    <input type="number" class="form-control" th:field="*{numGuest}" min="1" required>
                </div>

                <!-- Yêu cầu đặc biệt -->
                <div class="mb-3">
                    <label class="form-label">Note: </label>
                    <textarea class="form-control" rows="3" th:field="*{note}"></textarea>
                </div>


                <hr class="my-4" />

                <div class="d-flex gap-2">
                  <button class="btn btn-primary" type="submit">
                    <i class="bi bi-save"></i> Save
                  </button>
                  <button type="reset" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-counterclockwise"></i> Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
